<nav>
    <div class="">
        <a href="/">Lucas Liew</a>
        <p>Simple Web App</p>
    </div>
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/todos/create">Add Todos</a>
        </li>
        <li>
            <a href="/about">About</a>
        </li>
    </ul>
</nav>